.cont-1 {
    display: grid;
    padding: 50px;
}


.cont-2, .cont-3, .cont-4 {
    grid-column: span 2;
    background-color: antiquewhite;
    font-size: large;
    margin-top: 2em;
    padding: 5%;
    width: 300px;
}

a {
    color: rgb(92, 27, 2);
    text-decoration: none;
}
a:hover {
    color: rgb(255, 123, 0);
}

/********** Small Screen **********/

@media screen and (max-width: 660px) {
    .cont-1 {
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 2em;
    }
    .cont-2, .cont-3, .cont-4 {
        grid-column: span 2;
        width: 500px;    
    }

}

/********** Medium Screen **********/

@media screen and (max-width: 960px) and (min-width: 661px) {
    .cont-1 {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        width: 600px;
    }

    .cont-2 {
        grid-column: 1;
    }
    .cont-3 {
        grid-column: 2;
    }
    .cont-4 {
        grid-column: 1;

    }

}

/********** Large Screen **********/

@media screen and (min-width: 961px) {
    .cont-1 {
        grid-template-columns: 1fr 1fr ;
        justify-items: center;
        width: 960px;
    }
    .cont-2 {
        grid-column: 1;
        width: 300px;
    }
    .cont-3 {
        grid-column: 2;
        width: 300px;
    }
    .cont-4 {
        grid-column: 1;

    }


}